{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>Articles</h1>
		<p class="page">This is a random list of articles I found around the web</p>
		<hr />
		<hr />
		<a class="page" href="https://news.ycombinator.com/item?id=3198628">&#9734;Best approach for self-taught developer looking for job?: Hacker News</a>
		<hr />
		<a class="page" href="http://zoerooney.com/blog/web-development/things-really-need-become-front-end-developer-not-just-code-skills/">&#9734;The Things You Really Need to Become a Front-end Developer (Hint: Not Just Code Skills)</a>
		<hr />
		<a class="page" href="http://skillcrush.com/2014/10/10/sites-finding-remote-work/">&#9734;The 25 Best Sites For Finding Remote Work: Skillcrush</a>
		<hr />
		<a class="page" href="http://skillcrush.com/2015/03/12/impressive-tech-portfolio/?utm_source=Skillcrush+Newsletter+(all+users)&utm_campaign=83b4bddce5-Impressive_portfolio_3_12_2015&utm_medium=email&utm_term=0_80e0da7170-83b4bddce5-47029101">&#9734;How to Build an Impressive Portfolio When You're New to Tech</a>
		<hr />
		<a class="page" href="http://blog.udacity.com/2015/03/web-dev-building-blocks-need-to-know-where-to-learn.html?utm_source=marketo&utm_medium=email&utm_campaign=FE-NL-202&mkt_tok=3RkMMJWWfF9wsRokvq3OZKXonjHpfsX86uUrWKO1lMI%2F0ER3fOvrPUfGjI4DScNhI%2BSLDwEYGJlv6SgFTLHGMbdlwLgJWBg%3D">&#9734;Know these three web dev building blocks.</a>
		<hr />
		<a class="page" href="https://www.digitalocean.com/company/blog/20-developers-to-follow-in-2014/">&#9734;Developers to follow</a>
		<hr />
		<a class="page" href="https://www.codementor.io/development/tutorial/javascript-css-html-tutorial-front-end-development-tools">&#9734;Web Development Tutorial: Understanding how to use the Browser Developer Tools: Codementor</a>
		<hr />
		<a class="page" href="http://www.htmlgoodies.com/html5/css/best-practices-with-using-css3-in-your-html5-web-pages.html#fbid=l6CFIM9iE9T">&#9734;Best Practices with using CSS3 in your HTML5 web pages<a>
		<hr />
		<a class="page" href="http://www.1stwebdesigner.com/responsive-website-tutorial/">&#9734;How to Create a Responsive Website in about 15 Minutes<a>
		<hr />
		<a class="page" href="http://www.catswhocode.com/blog/making-a-website-responsive-in-3-easy-steps">&#9734;Making a website responsive in 3 easy steps<a>
		<hr />
	</div>
{% endblock %}