{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>CSS</h1>
		<p class="page">Add style to your web pages and apps</p>
		<hr />
		<hr />
		<a class="page" href="http://www.codecademy.com/en/tracks/web">&#9734;The best place to start learning any language</a>
		<hr />	
		<a class="page" href="http://www.htmldog.com/guides/css">&#9734;A step by step guide to CSS basics</a>
		<hr />	
		<a class="page" href="https://developer.mozilla.org/en-US/docs/Web/CSS">&#9734;Mozilla Developer Network has great resources</a>
		<hr />	
		<a class="page" href="http://www.dontfeartheinternet.com/
		">&#9734;Get over your beginner fears</a>
		<hr />
		<a class="page" href="http://www.saylor.org/courses/prdv251/
		">&#9734;Saylor.org Academy walks you through the basics</a>
		<hr />
		<a class="page" href="http://mbsy.co/99LHl?url=http://code.tutsplus.com/series/css3-mastery--net-18126">&#9734;CSS Mastery: They will teach you the ins and outs of everything you need to build modern and stylish web apps</a>
		<hr />		
		<a class="page" href="http://css-tricks.com/">&#9734;A large free resource from Treehouse: one of the most trusted providers across the internet.</a>
		<hr />
		<a class="page" href="http://www.csszengarden.com/214/page1/">&#9734;If you've learned CSS and need some inspiration CSS Zen Garden has a large collection of beautiful examples</a>
		<hr />
	</div>
{% endblock %}