{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>Database Management Systems</h1>
		<p class="page">DBMS are the higher-level software, working with lower-level APIs. They can be divided into Relational Model(SQL) and Model-less (NoSQL) Approach. SQL is table-based and NoSQL is document(key-value pair) based. I have resources here for MySQL(SQL) and MongoDB(NoSQL). It's up to you to decide which one fits your projects best.</p>
		<hr />
		<hr />

		<h2 class="js-header">MySQL</h2>
		<p class="page">MySQL is a free relational database. It has a very strict nature of forming and handling data.</p>
		<hr />
		<hr />
		<a class="page" href="http://php.about.com/od/learnmysql/ss/mysql.htm">&#9734;Understanding how SQL databases work</a>
		<hr />
		<a class="page" href="https://www.digitalocean.com/community/tutorials/a-basic-mysql-tutorial">&#9734;A Basic MySQL Tutorial</a>
		<hr />
		<a class="page" href="http://www.mysqltutorial.org/">&#9734;You will learn MySQL fast, easy and fun</a>
		<hr />
		<a class="page" href="http://php.about.com/od/learnmysql/p/learn_sql_free.htm">&#9734;Learn MySQL free</a>
		<hr />
		

		<h2 class="js-header">MongoDB</h2>
		<p class="page">NoSQL databases, by using an unstructured (or structured-on-the-go) approach, aim to be less strict about how data is stored. They offer many different types of ways to keep and work with the data.</p>
		<hr />
		<hr />
		<a class="page" href="https://www.mongodb.org/">&#9734;MongoDB Official Documentation</a>
		<hr />
		<a class="page" href="http://www.tutorialspoint.com/mongodb/">&#9734;This tutorial will give you great understanding on MongoDB concepts needed to create and deploy a highly scalable and performance oriented database</a>
		<hr />
		<a class="page" href="https://leanpub.com/mongodbschemadesign">&#9734;(PDF) The Little Mongo DB Schema Design Book</a>
		<hr />
	</div>
{% endblock %}