{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>Web Design</h1>
		<p class="page">Between 2010 and 2020, the market for web design jobs is projected to experience a 21.7 percent year-on-year growth. If you find that the back-end is not your thing, maybe design is for you.</p>
		<hr />
		<hr />
		<h2 class="js-header">Education</h2>
		<a class="page" href="https://alison.com/learn/web-development">&#9734;Ready to learn web design? ALISON’s free web development courses will quickly bring you up to speed</a>
		<hr />
		<a class="page" href="http://alistapart.com/topic/html">&#9734; A List Apart: The Online Magazine for Web Designers</a>
		<hr />
		<a class="page" href="http://webfieldmanual.com/">&#9734;Web Design Field Manual</a>
		<hr />
		<h2 class="js-header">Resources</h2>
		<a class="page" href="http://thenextweb.com/dd/2013/04/12/25-incredibly-useful-tools-for-web-designers/">&#9734;20 Incredibly useful tools for web designers</a>
		<hr />
		<a class="page" href="http://dailytekk.com/2012/07/31/200-graphic-app-web-design-tools-resources/">&#9734;The 200 Best Graphic, App and Web Design Tools and Resources (Categorized)</a>
		<hr />
		<a class="page" href="http://usabilitygeek.com/user-experience-ux-tools/">&#9734;30 Useful user experience (UX) tools</a>
		<hr />
		<a class="page" href="https://developers.google.com/fonts/docs/getting_started">&#9734;Google fonts</a>
		<hr />
		<a class="page" href="http://www.1001freedownloads.com/free-photos/nature?page=2">&#9734;1001 free downloads</a>
		<hr />
		
		<a class="page" href="http://www.uxbooth.com/articles/complete-beginners-guide-to-interaction-design/">&#9734;Complete beginners's guide to Interaction Design</a>
		<hr />
		<a class="page" href="http://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF">&#9734;Paletton: The color scheme designer</a>
		<hr />
		<a class="page" href="http://www.gratisography.com/">&#9734;Gratisography: Free, use-as-you-please high resolution pictures </a>
		<hr />
		<h2 class="js-header">Responsive Design</h2>
		<a class="page" href="http://webdesign.tutsplus.com/articles/designing-for-a-responsive-web--webdesign-3850">&#9734;Designing for a responsive web</a>
		<hr />
		<a class="page" href="http://www.vandelaydesign.com/turn-any-site-into-a-responsive-site/">&#9734;Turn any site into a responsive site</a>
		<hr />
		<a class="page" href="http://speckyboy.com/2014/03/17/responsive-web-design-less-code/">&#9734;Responsive Design with less code</a>
		<hr />
		<a class="page" href="https://developers.google.com/web/fundamentals/getting-started/your-first-multi-screen-site/responsive?hl=en">&#9734;Make it responsive</a>
		<hr />		
	</div>
{% endblock %}