{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>Git and Github</h1>
		<p class="page"><i>What is Git?</i> When you’re dealing with more than one person working on something, or on a large project with lots of complicated components you need version control
		<br/>
		<i>What is Github?</i>A Web-based Git repository hosting service, which offers all of the distributed revision control and source code management (SCM) functionality of Git as well as adding its own features. 
		<br/>
		If you plan on taking web development seriously, you need to have a good understanding of both.
		</p>
		<hr />
		<hr />
		<a class="page" href="http://www.makeuseof.com/tag/git-version-control-youre-developer/">&#9734;What Is Git & Why You Should Use Version Control If You’re a Developer</a>
		<hr />
		<a class="page" href="http://git-scm.com/book">&#9734;Pro Git is a free online book by Scott Chacon, a developer working on GitHub</a>
		<hr />
		<a class="page" href="http://gitimmersion.com/">&#9734;This Git tutorial walks you through Git basics using a step-by-step, hands-on approach</a>
		<hr />
		<a class="page" href="http://book.git-scm.com/">&#9734;A free online book written by the Git community</a>
		<hr />
		<a class="page" href="http://ftp.newartisans.com/pub/git.from.bottom.up.pdf">&#9734;Git From the Bottom Up</a>
		<hr />
		<a class="page" href="http://www.readwrite.com/2013/09/30/understanding-github-a-journey-for-beginners-part-1">&#9734;GitHub For Beginners: Don't Get Scared, Get Started</a>
		<hr />
		<a class="page" href="http://lifehacker.com/5983680/how-the-heck-do-i-use-github">&#9734;How the Heck Do I Use GitHub? - Lifehacker</a>
		<hr />
		<a class="page" href="https://training.github.com/">&#9734;GitHub Training on Github</a>
		<hr />
	</div>
{% endblock %}