{% extends "index.html" %}
{% block content %}
	<div class="container">
		<h1>Link-a-Lot</h1>
	</div>
	<div class="second">
		<h3>Just a lot of useful links</h3>
	</div>
	
	<div class="text">
		<p class="text">This is a list of all the web sites and resources I used to learn Web Development. I was never able to pay for this education, so I relied on free resources. All of these links lead to high quality, open source, free tutorials and advice. I hope you find it helpful!</p>
	</div>

	<div class="footer">
		<p class="contact">This site is developed, designed and maintained by Lani Gouws. &copy 2015.</p>
		<div="contact">
			<p class="contact"> Find me here:</p>
			<a class="icon" href="https://github.com/Lanigo"><img src="static/img/github.png" alt="Github"></a>

			<a class="icon" href="https://plus.google.com/112129981721327308260"><img src="static/img/google.png" alt="Google+"></a>

			<a class="icon" href="https://twitter.com/lanigouws1"><img src="static/img/twitter.png" alt="Twitter">

			<a class="icon" href="https://www.facebook.com/public/Lani-Gouws"><img src="static/img/facebook.png" alt="Facebook">
			<br/>
			
			<a class="contact" href="http://www.lanigouws.com">Website: www.lanigouws.com</a>

		</div>

{% endblock %}