{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>HTML</h1>
		<p class="page">Learn HTML. It is the markup language of the web. It is easy and it's the best place to start learning web development.</p>
		<hr />
		<hr />
		<a class="page" href="http://www.codecademy.com/en/tracks/web">&#9734;The best place to start learning any language</a>
		<hr />	
		<a class="page" href="http://learn.shayhowe.com/html-css/">&#9734;A simple and comprehensive guide dedicated to helping beginners learn to code HTML and CSS</a>
		<hr />	
		<a class="page" href="http://www.htmlgoodies.com/">&#9734;The ultimate HTML resource</a>
		<hr />	
		<a class="page" href="http://www.htmldog.com/guides/html/">&#9734;A step-by-step guide to HTML basics</a>
		<hr />	
		<a class="page" href="http://www.theodinproject.com/html5-and-css3">&#9734;Learn HTML5 and CSS3 for free</a>	
		<hr />	
		<a class="page" href="http://www.html5rocks.com/en/">&#9734;A resource for open web HTML5 developers</a>
		<hr />	
		<a class="page" href="http://html.net/tutorials/html/">&#9734;HTML tutorial</a>
		<hr />	
		<a class="page" href="http://diveintohtml5.info/index.html">&#9734;Dive Into HTML5 elaborates on a hand-picked selection of features from the HTML5 specification</a>
		<hr />	
		<a class="page" href="http://skillcrush.com/2013/04/15/youve-learned-html-css-now-what">&#9734;Some advice about what to do after you've learned HTML</a>
		<hr />	
	</div>
{% endblock %}