{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>JavaScript</h1>
		<p class="page">JavaScript is undoubtedly the best web-development language to learn today. It is important to get a good foundation in plain JavaScript first, before moving on to the libraries and frameworks below.</p>
		<hr />
		<hr />
		<a class="page" href="https://www.codecademy.com/tracks/javascript">&#9734;Codecademy: Always the best place to start</a>
		<hr />
		<a class="page" href="http://www.htmldog.com/guides/javascript/">&#9734;An introduction to programming in general, through the medium of JavaScript.</a>
		<hr />
		<a class="page" href="http://eloquentjavascript.net/">&#9734;Eloquent JavaScript: One of the most recommended resources for starting with JavaScript.</a>
		<hr />
		<a class="page" href="http://www.learn-js.org/">&#9734;An interactive JavaScript tutorial</a>
		<hr />
		<a class="page" href="http://javascript.didacto.net/tutorials">&#9734;Each tutorial introduces a topic and may include a number of questions about that topic</a>
		<hr />
		<a class="page" href="http://jstherightway.org/#main">&#9734;An excellent collection of articles, tips and tricks from JavaScript experts.</a>
		<hr />
		<a class="page" href="http://www.kirupa.com/html5/learn_javascript.htm">&#9734;Learn how to love JavaScript using the stuff in this page</a>
		<hr />
		<a class="page" href="http://speakingjs.com/es5/">&#9734;Speaking JavaScript</a>
		<hr />
		<a class="page" href="http://www.javascriptenlightenment.com/">&#9734;JavaScript Enlightenment: A book that covers advanced concepts</a>
		<hr />
		<a class="page" href="http://www.theodinproject.com/javascript-and-jquery">&#9734;Zoom through the basics of Javascript and how it's used in the browser with jQuery</a>
		<hr />
	
		<h2 class="js-header">JQuery</h2>
		<p class="page">;The most popular JavaScript library</p>
		<hr />
		<hr />
		<a class="page" href="https://learn.jquery.com/">&#9734;jQuery official learning centre: The best place to learn something is the place where it is built</a>
		<hr />
		<a class="page" href="http://www.codecademy.com/tracks/jquery">&#9734;Codecademy jQuery track</a>
		<hr />
		<a class="page" href="http://learn.jquery.com/about-jquery/how-jquery-works/">&#9734;The jQuery Getting Started Guide</a>
		<hr />
		<a class="page" href="http://try.jquery.com/">&#9734;A very good interactive course with videos and code challenges</a>
		<hr />
		<a class="page" href="http://jqfundamentals.com/">&#9734;A must-read book for every jQuery beginner</a>
		<hr />
		<a class="page" href="http://www.fromdev.com/2014/04/best-free-jquery-tutorials-ebooks.html">&#9734;This page has a large list of free jQuery resources if you still want more.</a>
		<hr />

		<h2 class="js-header">AngularJS</h2>
		<p class="page">One of the most popular and powerful JavaScript frameworks</p>
		<hr />
		<hr />
		<a class="page" href="http://www.codecademy.com/courses/javascript-advanced-en-2hJ3J/0/1">&#9734;Codecademy AngularJS Track</a>
		<hr />
		<a class="page" href="https://docs.angularjs.org/tutorial">&#9734;AngularJS's official tutorial will guide you through the entire process of building a simple application</a>
		<hr />
		<a class="page" href="http://www.ng-newsletter.com/">&#9734;AngularJS - from beginner to expert in 7 steps series</a>
		<hr />
		<a class="page" href="https://thinkster.io/angulartutorial/a-better-way-to-learn-angularjs/">&#9734;A Better Way to Learn AngularJS</a>
		<hr />
		<a class="page" href="http://www.toptal.com/angular-js/a-step-by-step-guide-to-your-first-angularjs-app">&#9734;A Step-by-Step Guide to Your First AngularJS App</a>
		<hr />

		<h2 class="js-header">Meteor.js</h2>
		<p class="page">Meteor.js is an open-source platform built on node.js for rapidly creating reactive web and mobile apps. It is designed to allow programmers to create applications in a modern fashion, using up-to-date paradigms, most importantly reactive programming. It's easy to learn and even easier to use.</p>
		<hr />
		<hr />
		<a class="page" href="https://www.meteor.com/learn">&#9734;The official home of Meteor</a>
		<hr />
		<a class="page" href="http://andrewscala.com/meteor/">&#9734;Learn Meteor Fundamentals and Best Practices</a>
		<hr />
		<a class="page" href="http://info.meteor.com/blog">&#9734;Official Meteor blog: Find out the latest on the Meteor Development Group, product milestones and other useful information.</a>
		<hr />		
		<a class="page" href="http://sebastiandahlgren.se/2013/07/17/tutorial-writing-your-first-metor-application/">&#9734;Tutorial: Writing your first Meteor App</a>
		<hr />
		<a class="page" href="https://scotch.io/tutorials/learn-meteor-js-from-scratch-build-a-polling-app">&#9734;Learn Meteor.js From Scratch: Build a Polling App</a>
		<hr />
		<a class="page" href="https://www.discovermeteor.com/">&#9734;Discover Meteor is an interactive ebook that walks you through creating a social news site from scratch.</a>
		<hr />
		
	</div>
{% endblock %}