{% extends "index.html" %}
{% block content %}
	<div class="jumbo">
		<h1>Python</h1>
		<p class="page">Python is a high level language. It is often said to be the best language for beginners to start with. It's easy to pick up and understand since well written Python code resembles English.</p>
		<hr />
		<hr />
		<a class="page" href="https://www.codecademy.com/en/tracks/python">&#9734;Codecademy's Python track</a>
		<hr />
		<a class="page" href="https://developers.google.com/edu/python/?hl=en">&#9734;(Free Ebook): Google's Python Class</a>
		<hr />
		<a class="page" href="https://docs.python.org/3/tutorial/index.html">&#9734;Official Python guide from Python.org</a>
		<hr />
		<a class="page" href="http://www.swaroopch.com/notes/python/">&#9734;A Byte of Python - (Free Online, PDF) Great for absolute beginners.</a>
		<hr />
		<a class="page" href="http://www.greenteapress.com/thinkpython/">&#9734;Think Python
		: How to think like a Computer Scientist - (Free Online, PDF): My absolute favourite resource of all. Everything clicked for me after I read this great book. Allen Downey is my hero.</a>
		<hr />
		<a class="page" href="http://learnpythonthehardway.org/">&#9734;Learn Python the Hard way: (Online book) The book is the most successful beginner programming eBook in the market. Don't let the title scare you- hard way just means most thorough way</a>
		<hr />
		<a class="page" href="https://www.google.com/search?q=invent+with+python&ie=utf-8&oe=utf-8#">&#9734;Invent with Python – (Free Book, Online): Learn Python by building games. Fun! </a>
		<hr />
		<a class="page" href="https://pythonspot.com/">&#9734;Still want more? Here's a long list of more tutorials on everything Python</a>
		<hr />
		<a class="page" href="http://www.fullstackpython.com/">&#9734;Now you know a little Python, but don't know what to do next. Go here!</a>
		<hr />
	
		<h2 class="js-header">Django</h2>
		<p class="page">I put Django before Flask since it is the most popular Python framework. Its batteries-included philosophy means that the common functionality for building web applications comes with the framework. Again: It's very important to learn Python properly first before thinking about frameworks</p>
		<hr />
		<hr />
		<a class="page" href="http://www.tangowithdjango.com/book17/">&#9734;Tango with Django: As much fun as it sounds! An extensive set of free introductions to using the most popular Python web framework</a>
		<hr />
		<a class="page" href="http://effectivedjango.com/">&#9734;Another great introduction to Django</a>
		<hr />
		<a class="page" href="http://lightbird.net/dbe2/">&#9734;A set of tutorials for creating Django projects such as a blog, forum, issue tracker and portfolio.</a>
		<hr />
		<a class="page" href="http://stevelosh.com/blog/2011/06/django-advice/">&#9734;Steve Losh speaks from experience when he gives Django Advice</a>
		<hr />
		<a class="page" href="https://lincolnloop.com/django-best-practices/">&#9734;Django Best Practices: Trusted Django resources to help you on your journey
		</a>
		<hr />
		
		<h2 class="js-header">Flask</h2>
		<p class="page">This is my favourite thing in the whole world. Almost everything I've created so far was done with Flask(including this site). It's lightweight and more Pythonic than Django. But it's also easy to extend(meaning it's not bloated, but you can go bigger with it)</p>
		<hr />
		<hr />
		<a class="page" href="http://flask.pocoo.org/">&#9734;Official Flask Documentation. Start at the source.</a>
		<hr />
		<a class="page" href="http://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">&#9734;The Flask Mega Tutorial by Miguel Grunberg. Awesome tutorial to start with!</a>
		<hr />
		<a class="page" href="https://exploreflask.com/">&#9734;(Online book) Explore Flask is a book about best practices and patterns for developing web applications with Flask</a>
		<hr />
		<a class="page" href="https://stormpath.com/blog/build-a-flask-app-in-30-minutes/">&#9734;Build a Flask app in 30min. Yes! It really can be that easy!</a>
		<hr />
		<a class="page" href="http://maximebf.com/blog/2012/10/building-websites-in-python-with-flask/#.VfHJI-Hv_Ry">&#9734;Building websites in Python with Flask</a>
		<hr />
		<a class="page" href="http://code.tutsplus.com/tutorials/an-introduction-to-pythons-flask-framework--net-28822">&#9734;Tuts+: An Introduction to Python’s Flask Framework</a>
		<hr />
		<a class="page" href="http://www.jeffknupp.com/blog/2014/01/29/productionizing-a-flask-application/">&#9734;Productionizing A Flask Application</a>
		<hr />
		<a class="page" href="http://mattupstate.com/python/2013/06/26/how-i-structure-my-flask-applications.html">&#9734;How to Structure Flask Applications</a>
		<hr />
	</div>
{% endblock %}